/*
Author: Kyriri
Author page: https://github.com/kyriri
Inspiration for colors: https://www.schemecolor.com/seashells.php
*/

:root {
  --button-text: 2.5vh;
}
html {
  font-family: Avenir, 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
.content {
  width: 52vh;
  margin: 0 auto;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1vh;
  row-gap: 1vh;
  grid-template-areas:
  'display display display display'
  'restart clear   mult    divi'
  'k7      k8      k9      minus'
  'k4      k5      k6      sum'
  'k1      k2      k3      equals'
  'k0      k0      dot     equals';
}
.display-outer { 
  color: white;
  background-color: #8f6245;
  font-family: monospace;
  font-size: 6.5vh;
  font-style: italic;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  border-radius: .5vh;
  padding: 2vh;
  grid-area: display; 
}
.display-inner {
  float: right;
  margin: 0;
  padding: 0;
}
.all-keys {
  background-color: #eacfcb;
  height: 8vh;
  font-size: 3vh;
  border-radius: .5vh;
  padding: 2vh;
}
.all-keys:hover {
  box-shadow: 0 0 .8vh 0.4vh #5e6985;
}
.function-key {
  background-color: #eee5df;
}
#restart { 
  font-size: var(--button-text);
  grid-area: restart; 
}
#clear { 
  font-size: var(--button-text);
  grid-area: clear; 
}
#equals { 
  font-size: var(--button-text);
  height: auto;
  grid-area: equals; 
}
#multi { grid-area: multi; }
#divi { grid-area: divi; }
#minus { grid-area: minus; }
#sum { grid-area: sum; }
#dot { 
  grid-area: dot;
  font-weight: 500;
}
#k0 { grid-area: k0; }
#k1 { grid-area: k1; }
#k2 { grid-area: k2; }
#k3 { grid-area: k3; }
#k4 { grid-area: k4; }
#k5 { grid-area: k5; }
#k6 { grid-area: k6; }
#k7 { grid-area: k7; }
#k8 { grid-area: k8; }
#k9 { grid-area: k9; }
footer {
  font-size: 1.6vh;
  color: #5e6985;
  text-align: center;
  margin-top: 1.6vh;
}
a, a:active, a:visited {
  color: #5e6985;
  text-decoration: none;
}
a:hover {
    color: black;
    text-shadow: 0 0 0.8vh #d0abb5;
}